asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
blis==0.2.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cymem==2.0.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
jsonschema==3.0.1
lazy-object-proxy==1.4.1
lxml==4.6.2
mccabe==0.6.1
murmurhash==1.0.2
numpy==1.16.4
pandas==0.24.2
parsel==1.5.1
plac==0.9.6
preshed==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyrsistent==0.15.3
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
queuelib==1.5.0
requests==2.22.0
Scrapy==1.6.0
service-identity==18.1.0
six==1.12.0
spacy==2.1.4
srsly==0.0.7
thinc==7.0.4
tika==1.19
tqdm==4.32.2
Twisted==19.2.1
typed-ast==1.4.0
urllib3==1.25.3
vaderSentiment==3.2.1
w3lib==1.20.0
wasabi==0.2.2
wrapt==1.11.2
zope.interface==4.6.0
